@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: theme('colors.beige');
}

.dark body {
  background-color: theme('colors.gray');
}

.dark .MuiDrawer-root .MuiDrawer-paper {
  height: 100%;
  background: theme('colors.gray');
}

.MuiDrawer-root .MuiDrawer-paper {
  height: 100%;
  background: theme('colors.beige');
}
